.main-acerca-de{
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    .contenedor-acerca-de{
        display: flex;
        flex-direction: column-reverse;
        color: #fff;
        .foto{
            margin: 30px 50px 15px 50px;
            img{
                border-radius: 50%;
                border: 2px solid black;
                width: 260px;
            }
        }
        .acerca-de{
            color: #000;
            h3{
                text-align: center;
                font-weight: 600;
                margin: 10px;
                font-size: 25px;
            }
            p{
                padding: 0 10px;
                text-align: justify;
                line-height: 25px;
            }
        }
    }
    @media screen and (min-width: 720px){
        .contenedor-acerca-de{
            padding: 10px;
            .foto{
                text-align: center;
                img{
                    width: 300px;
                }
            }
            .acerca-de{
                p{
                    font-size: 20px;
                    padding-bottom: 10px;
                    line-height: 32px;
                }
            }
        }
    }

    @media screen and (min-width: 1115px){
        font-size: 23px;
        .contenedor-acerca-de{
            flex-direction: row;
            .foto{
                img{
                    width: 350px;
                }
            }
            .acerca-de{
                h3{
                    font-size: 30px;
                    margin-top: 20px;
                }
                p{
                    line-height: 35px;
                }
            }
        }
    }
}