.contacto{
    background: rgba(255, 255, 255, 0.6);
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    &__title{
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 25px;
    }
    &__list{
        list-style: none;
    }
    &__profile{
        margin-bottom: 5px;
        display: flex;
        gap: 10px;
    }
    &__phone{
        margin-bottom: 5px;
        display: flex;
        gap: 10px;
    }
    &__email{
        display: flex;
        gap: 10px;
    }
    @media (min-width: 720px){
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &__info{
            margin-bottom: 0;
            margin-right: 20px;
        }
    }
    @media (min-width: 1115px){
        &__container{
            padding: 40px;
        }
        &__info{
            margin-right: 150px;
        }
        &__profile{
            font-size: 18px;
        }
        &__phone{
            font-size: 18px;
        }
        &__email{
            font-size: 18px;
        }
    }
}
.input{
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__name-mail{
        display: flex;
        gap: 1px;
    }
    &__name{
        padding: 10px;
        width: 159px;
        border-radius: 3px 0px 0px 0px;
        border: none;
    }
    &__email{
        padding: 10px;
        border-radius: 0px 3px 0px 0px;
        border: none;
        width: 159px;
    }
    &__subject{
        padding: 10px;
        border: none;
        border-radius: 0px;
        width: 319px;
        margin-top: 1px;
    }
    &__message{
        width: 319px;
        min-width: 319px;
        max-width: 319px;
        min-height: 100px;
        max-height: 150px;
        border-radius: 0px 0px 3px 3px;
        padding: 10px;
        border: none;
        margin-top: 1px;
        font-family: "Rubik", sans-serif;
    }
    &__buttons-container{
        width: 310px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 5px;
    }
    &__send{
        padding: 5px 15px;
        border-radius: 3px;
        border: none;
        &:hover{
            background: rgba($color: #000000, $alpha: 55);
            color: rgba(255, 255, 255, 0.70);
            cursor: pointer;
        }
    }
    &__cancel{
        padding: 5px 10px;
        border-radius: 3px;
        border: none;
        &:hover{
            background: rgba($color: #000000, $alpha: 55);
            color: rgba(255, 255, 255, 0.70);
            cursor: pointer;
        }
    }
    @media(min-width: 1115px){
        &__name{
            width: 250px;
        }
        &__email{
            width: 250px;
        }
        &__subject{
            width: 501px;
        }
        &__message{
            width: 501px;
            max-width: 501px;
            min-width: 501px;
        }
        &__buttons-container{
            width: 485px;
            height: 40px;
        }
        &__send{
            padding: 8px 25px;
        }
        &__cancel{
            padding: 8px 18px;
        }
    }
}
    