.main-contacto{
    background: rgba(255, 255, 255, 0.6);
    .contenedor-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contacto{
            h3{
                text-align: center;
                font-weight: 600;
                margin: 10px 0 3px 0;
                font-size: 25px;
            }
            ul{
                li{
                    padding: 0 5px;
                    text-align: center;
                    line-height: 25px;
                    list-style: none;
                }
            }
        }
        .input-container{
            .input{
                margin: 10px;
                .nombre{
                    float: left;
                    width: 49.5%;
                    height: 20px;
                    padding: 13px;
                    font-size: 15px;
                    border-radius: 3px;
                    border: none;
                    font-weight: 300;
                    font-family: "Rubik", sans-serif;
                }
                .correo{
                    float: right;
                    width: 49.5%;
                    height: 20px;
                    padding: 13px;
                    font-size: 15px;
                    border-radius: 3px;
                    border: none;
                    font-weight: 300;
                    font-family: "Rubik", sans-serif;
                }
                .asunto{
                    width: 100%;
                    margin-top: 5px;
                    height: 20px;
                    padding: 13px;
                    font-size: 15px;
                    border-radius: 3px;
                    border: none;
                    font-weight: 300;
                    font-family: "Rubik", sans-serif;
                }
                .mensaje{
                    width: 100%;
                    max-width: 100%;
                    min-width: 340px;
                    height: 100px;
                    max-height: 150px;
                    min-height: 100px;
                    margin-top: 5px;
                    padding: 10px;
                    font-size: 15px;
                    border-radius: 3px;
                    border: none;
                    font-weight: 300;
                    font-family: "Rubik", sans-serif;
                }
            }
            .botones{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 10px;
                margin-top: -5px;
                width: 100%;
                input{
                    font-family: "Rubik", sans-serif;
                    margin-left: 10px;
                    padding: 10px 40px;
                    border: none;
                    border-radius: 3px;
                    color: #000;
                    cursor: pointer;
                    transition: all .3s ease;
                    font-size: 18px;
                    &:hover{
                        color: #fff;
                        background: hsla(0, 0%, 0%, 0.5);
                    }
                }
            }
        }
    }
}