footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #000;
    a{
        font-size: 40px;
        margin: 10px 0;
        color: #fff;
        text-decoration: none;
        transition: all .3s linear;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
        }
    }
    .github,
    .doc{
        font-size: 35px;
    }
    @media(min-width: 1115px){
        a{
            font-size: 60px;
            margin: 15px 0;
        }
        .github,
        .doc{
            font-size: 60px;
        }
    }
}
