$colorPrincipal: #fff;
$colorHover : rgba(255, 255, 255, 0.8);
.contenedor{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 100%;
    max-width: 1333px;
    background: #000;
    margin-top: -134px;
    .logo{
        margin-left: 40px;
        a{
            .logo2{
                display: none;
            }
        }
    }
    .menu{
        a{
            color: $colorPrincipal;
            text-decoration: none;
            margin-right: 30px;
            font-size: 20px;
            &:hover{
                color: $colorHover;
                text-decoration: line-through;
            }
        }
    }
    .dots{
        display: none;
        
    }
}