.main-proyectos{
    background: rgba(255, 255, 255, 0.6);
    .contenedor-proyectos{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .proyecto-img{
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 80%;
                    margin: 20px 40px 10px 40px;
                    border-radius: 3px;
                    transition: all .3s linear;
                    &:hover{
                        transform: scale(1.025);
                    }
                }
            }
        }
        .proyecto{
            h3{
                text-align: center;
                font-weight: 600;
                font-size: 25px;
            }
            p{
                padding: 10px;
                text-align: justify;
            }
        }
    }
}