.proyectos{
    background: rgba(255, 255, 255, 0.6);
    &__container{
        padding: 20px;
    }
    &__title{
        font-size: 25px;
        font-weight: 700;
        text-align: center;
    }
    &__cart-container{
        margin-top: 30px;
        border-radius: 3px;
        width: 100%;
        background: #414244;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        gap: 30px;
        @media (min-width: 1115px){
            flex-direction: row;
            padding: 30px 50px;
        }
    }
    &__carts{
        padding: 10px;
        background-color: white;
        border-radius: 3px;
        width: 80%;
        opacity: 0;
        transition: all .5s ease;
        @media (min-width: 1115px){
            width: 50%;
        }
        &:hover{
            transform: scale(1.02);
            box-shadow: 0px 5px 7px 5px rgba(0,0,0,0.44);
        }
        &-img{
            width: 100%;
            border-radius: 3px;
            margin-bottom: 5px;
        }
        &-title{
            font-size: 18px;
            margin-bottom: 8px;
            text-align: center;
        }
        &-technologies{
            background: #363636;
            width: 45%;
            height: 20%;
            border-radius: 3px;
            margin-left: 5px;
            @media (min-width: 720px){
                width: 30%;
            }
            @media (min-width: 1115px){
                width: 40%;
            }
        }
        &-list{
            display: flex;
            list-style: none;
            gap: 10px;
            padding: 5px;
            align-items: center;
            color: white;
            justify-content: center;
            @media (min-width: 720px){
                gap: 20px;
            }
            &-technologies{
                font-size: 12px;
            }
        }
    }
    
    &__paragraph{
        margin: 10px 0 5px 5px;
        font-size: 15px;
        text-align: justify;
        min-height: 180px;
        line-height: 21.5px;
    }
    &__container-link{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__link{
        text-decoration: none;
        color: black;
        text-align: end;
        display: inline-block;
        margin-right: 5px;
        font-size: 12px;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.firstCard,
.secondCard,
.thirdCard{
    opacity: 0;
}
.proyectos__carts-animation{
    opacity: 1;
    transition: all .5s ease;
}