.main-skills{
    background: rgba(255, 255, 255, 0.6);
    .contenedor-skills{
        display: flex;
        flex-direction: column;
        .skills{
            h3{
                text-align: center;
                font-weight: 600;
                margin-top: 10px;
                font-size: 25px;
            }
            p{
                padding: 5px 10px;
                text-align: justify;
            }
        }
        .barras{
            padding: 10px;
            font-size: 18px;
            font-weight: 500;
            ul{
                li{
                    list-style: none;
                }
                .barra{
                    width: 335px;
                    height: 15px;
                    background: #d9d9d9;
                    border-radius: 3px;
                    margin: 8px 0 5px 0;

                    transition: all .3s ease;
                    .carga{
                        border-radius: 3px;
                        background: #360259;
                        transition: all .3s ease;
                        width: 0%;
                        opacity: 1;
                    }
                    .carga-html{
                        height: 100%;
                        width: 70%;
                        transition: all 1.2s ease;
                    }
                    .carga-css{
                        height: 100%;
                        width: 65%;
                        transition: all 1.4s ease;
                    }
                    .carga-java{
                        height: 100%;
                        width: 30%;
                        transition: all 1.6s ease;
                    }
                    .carga-js{
                        height: 100%;
                        width: 50%;
                        transition: all 1.8s ease;
                    }
                    .carga-git{
                        height: 100%;
                        width: 70%;
                        transition: all 2s ease;
                    }
                }
            }
            
        }
    }
}