.main-skills{
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    .contenedor-skills{
        display: flex;
        flex-direction: column;
        .skills{
            margin-bottom: 20px;
            text-align: center;
            h3{
                text-align: center;
                font-weight: 600;
                font-size: 25px;
            }
            p{
                text-align: justify;
                padding-top: 10px;
            }
        }
        .contenedor-cards{
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            height: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: start;
            border: none;
            border-radius: 3px;
            overflow-y: hidden;
            .card{
                background: rgb(24, 22, 22);
                color: rgba(255, 255, 255, .2);
                width: 350px;
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: .5s ease;
                padding: 20px 2px 5px 2px;
                &:hover{
                    color: rgb(255, 255, 255);
                }
                .titulo{
                    padding: 0px 15px;
                    h3{
                        padding-top: 10px;
                        padding-bottom: 3px;
                        font-size: 15px;
                        font-weight: 500;
                    }
                    p{
                        padding-bottom: 10px;
                        font-size: 10px;
                        font-weight: 300;
                    }
                }
                .texto{
                    height: 0;
                    overflow: hidden;
                    width: 100%;
                    transition: .5s ease;
                    padding: 0px 10px;
                    ul{
                        list-style: none;
                        li{
                            text-align: start;
                            padding: 7px 5px;
                            font-size: 12px;
                            font-weight: 300;
                            text-align: initial;
                        }
                    }
                }
                .textoEfecto{
                    height: 90%;
                    transition: .5s ease;
                }
            }
        }
    }
    @media screen and (min-width: 720px){
        .contenedor-skills{
            padding: 10px;
            .skills{
                p{
                    font-size: 20px;
                    line-height: 32px;
                }
            }
        }
    }

    @media screen and (min-width: 721px){
        .contenedor-skills{
            .contenedor-cards{
                .card{
                    .titulo{
                        h3{
                            font-size: 20px;
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                    .texto{
                        ul{
                            li{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1115px) {
        .contenedor-skills{
            flex-direction: row;
            align-items: center;
            font-size: 23px;
            gap: 20px;
            .skills{
                width: 900px;
                h3{
                    font-size: 30px;
                }
                p{
                    line-height: 35px;
                }
            }
            .contenedor-cards{
                .card{
                    height: 350px;
                    .titulo{
                        h3{
                            font-size: 20px;
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                    .texto{
                        ul{
                            li{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1440px){
        .contenedor-skills{
            .contenedor-cards{
                align-items: center;
                justify-content: center;
                .card{
                    .texto{
                        ul{
                            li{
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
