@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/images/Fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: "Rubik", sans-serif;
}

header .contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  align-items: center;
  position: relative;
}
header .contenedor .logo .logo2 {
  display: inline-block;
  margin-left: -40px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
header .contenedor .logo .logo3 {
  opacity: 1;
  margin-left: 0;
  transition: all 0.3s ease;
}
header .contenedor .menu {
  display: flex;
  flex-direction: column;
  top: 93px;
  display: block;
  position: absolute;
  background: #000;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: all 0.3s linear;
}
header .contenedor .menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-right: 0;
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
  transition: all 0.3s ease;
}
header .contenedor .menu a:hover {
  text-decoration: line-through;
}
header .contenedor .menu2 {
  height: 250px;
}
header .contenedor .quitar {
  display: inline-block;
}
header .contenedor .dots {
  cursor: pointer;
}

.main-acerca-de {
  background: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}
.main-acerca-de .contenedor-acerca-de {
  display: flex;
  flex-direction: column-reverse;
  color: #fff;
}
.main-acerca-de .contenedor-acerca-de .foto {
  margin: 30px 50px 15px 50px;
}
.main-acerca-de .contenedor-acerca-de .foto img {
  border-radius: 50%;
  width: 260px;
}
.main-acerca-de .contenedor-acerca-de .acerca-de {
  color: #000;
}
.main-acerca-de .contenedor-acerca-de .acerca-de h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px;
  font-size: 25px;
}
.main-acerca-de .contenedor-acerca-de .acerca-de p {
  padding: 0 10px;
  text-align: justify;
  line-height: 25px;
}

.main-skills {
  background: rgba(255, 255, 255, 0.6);
}
.main-skills .contenedor-skills {
  display: flex;
  flex-direction: column;
}
.main-skills .contenedor-skills .skills h3 {
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  font-size: 25px;
}
.main-skills .contenedor-skills .skills p {
  padding: 5px 10px;
  text-align: justify;
}
.main-skills .contenedor-skills .barras {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
.main-skills .contenedor-skills .barras ul li {
  list-style: none;
}
.main-skills .contenedor-skills .barras ul .barra {
  width: 335px;
  height: 15px;
  background: #d9d9d9;
  border-radius: 3px;
  margin: 8px 0 5px 0;
  transition: all 0.3s ease;
}
.main-skills .contenedor-skills .barras ul .barra .carga {
  border-radius: 3px;
  background: #360259;
  transition: all 0.3s ease;
  width: 0%;
  opacity: 1;
}
.main-skills .contenedor-skills .barras ul .barra .carga-html {
  height: 100%;
  width: 70%;
  transition: all 1.2s ease;
}
.main-skills .contenedor-skills .barras ul .barra .carga-css {
  height: 100%;
  width: 65%;
  transition: all 1.4s ease;
}
.main-skills .contenedor-skills .barras ul .barra .carga-java {
  height: 100%;
  width: 30%;
  transition: all 1.6s ease;
}
.main-skills .contenedor-skills .barras ul .barra .carga-js {
  height: 100%;
  width: 50%;
  transition: all 1.8s ease;
}
.main-skills .contenedor-skills .barras ul .barra .carga-git {
  height: 100%;
  width: 70%;
  transition: all 2s ease;
}

.main-proyectos {
  background: rgba(255, 255, 255, 0.6);
}
.main-proyectos .contenedor-proyectos {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.main-proyectos .contenedor-proyectos .proyecto-img a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-proyectos .contenedor-proyectos .proyecto-img a img {
  width: 80%;
  margin: 20px 40px 10px 40px;
  border-radius: 3px;
  transition: all 0.3s linear;
}
.main-proyectos .contenedor-proyectos .proyecto-img a img:hover {
  transform: scale(1.025);
}
.main-proyectos .contenedor-proyectos .proyecto h3 {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}
.main-proyectos .contenedor-proyectos .proyecto p {
  padding: 10px;
  text-align: justify;
}

.main-contacto {
  background: rgba(255, 255, 255, 0.6);
}
.main-contacto .contenedor-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-contacto .contenedor-contacto .contacto h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0 3px 0;
  font-size: 25px;
}
.main-contacto .contenedor-contacto .contacto ul li {
  padding: 0 5px;
  text-align: center;
  line-height: 25px;
  list-style: none;
}
.main-contacto .contenedor-contacto .input-container .input {
  margin: 10px;
}
.main-contacto .contenedor-contacto .input-container .input .nombre {
  float: left;
  width: 49.5%;
  height: 20px;
  padding: 13px;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
}
.main-contacto .contenedor-contacto .input-container .input .correo {
  float: right;
  width: 49.5%;
  height: 20px;
  padding: 13px;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
}
.main-contacto .contenedor-contacto .input-container .input .asunto {
  width: 100%;
  margin-top: 5px;
  height: 20px;
  padding: 13px;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
}
.main-contacto .contenedor-contacto .input-container .input .mensaje {
  width: 100%;
  max-width: 100%;
  min-width: 340px;
  height: 100px;
  max-height: 150px;
  min-height: 100px;
  margin-top: 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
}
.main-contacto .contenedor-contacto .input-container .botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: -5px;
  width: 100%;
}
.main-contacto .contenedor-contacto .input-container .botones input {
  font-family: "Rubik", sans-serif;
  margin-left: 10px;
  padding: 10px 40px;
  border: none;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
}
.main-contacto .contenedor-contacto .input-container .botones input:hover {
  color: #fff;
  background: hsla(0deg, 0%, 0%, 0.5);
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #000;
}
footer a {
  font-size: 40px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s linear;
  cursor: pointer;
}
footer a:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 720px) {
  header .contenedor {
    justify-content: space-between;
    position: relative;
  }
  header .contenedor .logo {
    margin-left: 60px;
  }
  header .contenedor .menu {
    display: flex;
    flex-direction: column;
    top: 93px;
    display: block;
    position: absolute;
    background: #000;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  header .contenedor .menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin-right: 0;
    font-size: 25px;
    font-weight: 300;
    font-family: "Rubik", sans-serif;
  }
  header .contenedor .menu a:hover {
    text-decoration: line-through;
  }
  header .contenedor .menu2 {
    height: 285px;
  }
  header .dots {
    display: inline-block;
    margin-right: 40px;
  }
  .main-acerca-de .contenedor-acerca-de {
    padding: 10px;
  }
  .main-acerca-de .contenedor-acerca-de .foto {
    text-align: center;
  }
  .main-acerca-de .contenedor-acerca-de .foto img {
    width: 300px;
  }
  .main-acerca-de .contenedor-acerca-de .acerca-de p {
    font-size: 20px;
    padding-bottom: 10px;
    line-height: 32px;
  }
  .main-skills .contenedor-skills {
    padding: 10px;
  }
  .main-skills .contenedor-skills .skills p {
    font-size: 20px;
    line-height: 32px;
  }
  .main-skills .contenedor-skills .barras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-proyectos .contenedor-proyectos {
    padding: 10px 0;
  }
  .main-proyectos .contenedor-proyectos .proyecto-img a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-proyectos .contenedor-proyectos .proyecto-img a img {
    width: 70%;
  }
  .main-proyectos .contenedor-proyectos .proyecto p {
    font-size: 20px;
    line-height: 32px;
  }
  .main-contacto .contenedor-contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .main-contacto .contenedor-contacto .contacto {
    width: 48%;
    padding: 10px;
  }
  .main-contacto .contenedor-contacto .contacto h3 {
    margin-bottom: 10px;
  }
  .main-contacto .contenedor-contacto .contacto ul li {
    font-size: 20px;
  }
  .main-contacto .contenedor-contacto .input-container {
    width: 48%;
  }
  .main-contacto .contenedor-contacto .input-container .input .mensaje {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .main-contacto .contenedor-contacto .input-container .botones {
    width: 100%;
  }
}
@media screen and (min-width: 721px) {
  header .contenedor {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 40px;
  }
  header .contenedor .logo {
    display: flex;
    align-items: flex-end;
  }
  header .contenedor .logo .logo2 {
    display: block;
  }
  header .contenedor .menu {
    display: flex;
    flex-direction: row;
    position: static;
    height: 100px;
    background: transparent;
    align-items: center;
    justify-content: end;
  }
  header .contenedor .menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-right: 25px;
    font-size: 25px;
    font-weight: 300;
    font-family: "Rubik", sans-serif;
  }
  header .contenedor .menu a:hover {
    text-decoration: line-through;
  }
  header .dots {
    display: none;
  }
}
@media screen and (min-width: 1366px) {
  .main-acerca-de {
    font-size: 23px;
  }
  .main-acerca-de .contenedor-acerca-de {
    flex-direction: row;
  }
  .main-acerca-de .contenedor-acerca-de .foto img {
    width: 350px;
  }
  .main-acerca-de .contenedor-acerca-de .acerca-de h3 {
    font-size: 30px;
    margin-top: 20px;
  }
  .main-acerca-de .contenedor-acerca-de .acerca-de p {
    line-height: 35px;
  }
  .main-skills .contenedor-skills {
    flex-direction: row;
    font-size: 23px;
  }
  .main-skills .contenedor-skills .skills {
    width: 58%;
  }
  .main-skills .contenedor-skills .skills h3 {
    font-size: 30px;
    margin-top: 20px;
  }
  .main-skills .contenedor-skills .skills p {
    line-height: 35px;
  }
  .main-skills .contenedor-skills .barras {
    width: 38%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .main-skills .contenedor-skills .barras ul li {
    font-size: 28px;
    font-weight: 400;
  }
  .main-skills .contenedor-skills .barras ul .barra {
    width: 450px;
  }
  .main-proyectos .contenedor-proyectos {
    flex-direction: row;
    align-items: initial;
    font-size: 23px;
    padding: 10px 0;
  }
  .main-proyectos .contenedor-proyectos .proyecto-img {
    width: 48%;
  }
  .main-proyectos .contenedor-proyectos .proyecto-img a img {
    width: 90%;
  }
  .main-proyectos .contenedor-proyectos .proyecto {
    width: 48%;
  }
  .main-proyectos .contenedor-proyectos .proyecto h3 {
    font-size: 30px;
    margin-top: 20px;
  }
  .main-proyectos .contenedor-proyectos .proyecto p {
    line-height: 35px;
  }
  .main-contacto {
    padding: 15px;
  }
  .main-contacto .contenedor-contacto {
    justify-content: start;
    align-items: inherit;
    font-size: 23px;
  }
  .main-contacto .contenedor-contacto .contacto h3 {
    font-size: 30px;
  }
  .main-contacto .contenedor-contacto .contacto ul li {
    font-size: 30px;
    line-height: 35px;
  }
  .main-contacto .contenedor-contacto .input-container .input {
    font-size: 23px;
  }
  .main-contacto .contenedor-contacto .input-container .input .nombre {
    padding: 20px;
    font-size: 23px;
  }
  .main-contacto .contenedor-contacto .input-container .input .correo {
    padding: 20px;
    font-size: 23px;
  }
  .main-contacto .contenedor-contacto .input-container .input .asunto {
    padding: 20px;
    font-size: 23px;
  }
  .main-contacto .contenedor-contacto .input-container .input .mensaje {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100px;
    max-height: 150px;
    min-height: 100px;
    font-size: 23px;
    padding-left: 20px;
  }
  .main-contacto .contenedor-contacto .input-container .botones {
    width: 100%;
  }
  .main-contacto .contenedor-contacto .input-container .botones input {
    font-size: 25px;
  }
  footer a {
    font-size: 60px;
    margin: 15px 0;
  }
}
.fondo {
  width: 100%;
  height: 100%;
  max-height: 220px;
  background: #000;
}

.uno {
  background: url(/images/fondo2.png), rgb(0, 0, 0);
  height: 220px;
}

.dos {
  background: url(/images/fondo4.png), rgb(0, 0, 0);
  height: 220px;
}

.tres {
  background: url(/images/Fondo3.png), rgb(0, 0, 0);
  height: 220px;
}/*# sourceMappingURL=estilos.css.map */