@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
*{
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/Fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: "Rubik", sans-serif;
}

@import 'header';
@import 'acerca-de';
@import 'skills';
@import 'proyectos';
@import 'contacto';
@import 'footer';
@import 'responsive';
@import 'fondos';